<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Agregar Producto</h3>
    </div>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción del Producto</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" required="true"
              [(ngModel)]="producto.descripcion">
            </div>
            <div class="d-flex align-items-center gap-3 mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" step="any" class="form-control" id="precio" name="precio" required="true"
                [(ngModel)]="producto.precio">
                <label for="existencia" class="form-label">Existencias</label>
                <input type="number" class="form-control" id="existencia" name="existencia"
                [(ngModel)]="producto.existencia">
              </div>
            <div class="text-center p-1" style="background-color:#4d4e49 ">
                <button type="submit" class="btn btn-warning btn-sm me-3">Agregar</button>
                <a href="/" class="btn btn-danger btn-sm">Regresar</a>
            </div>  
          </form>
    </div>
</div>
